{% extends 'base.html' %}

{% block title %}Visitor Statistics{% endblock %}

{% block content %}
<nav class="sidebar">
    <h2>Artist Dashboard</h2>
    <a href="{% url 'artist_dashboard' %}">Main Dashboard</a>
    <a href="{% url 'upload_gospel_song' %}">Upload New Song</a>
    <a href="{% url 'downloads' %}">Downloads</a>
    <a href="{% url 'statistics' %}">Statistics</a>
    <a href="{% url 'logout' %}">Logout</a>
</nav>
<div class="container mt-5">
    <h1 class="text-center">Visitor Statistics</h1>
    <h2 class="text-center">Total Visitors: {{ visitor_count }}</h2>
</div>
{% endblock %}
